{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for managing users and groups in Zoho Analytics — covering org-level users, workspace-level users, and workspace groups."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Org Users",
      "description": "APIs that allow the Account Admin and the Organization Admins of a Zoho Analytics organization to manage its users - listing, adding, removing, activating, deactivating and changing the org-level role of the users, and listing the users who hold the Organization Admin role.\n\nThese APIs operate at the organization level. They govern the membership and role of a user within the organization, and not their access to individual workspaces, which is handled by the workspace sharing APIs.\n\nZoho Analytics also supports Client Portal (White Label) deployments, where an organization can have one or more custom-branded portal domains. When the Account Admin of the organization is also a Client Portal Admin, the write APIs in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are managed independently of the main organization domain, and `domainName` must be a valid portal domain owned by the Account Admin of the organization."
    },
    {
      "name": "Custom Roles",
      "description": "APIs that allow the Account Admin and the Organization Admins of a Zoho Analytics organization to define custom roles - named permission bundles that can be granted to users in place of the built-in roles.\n\nA custom role is organization-scoped and is made of three parts: a role name, an access type that decides which kinds of view the role can reach (dashboards only, reports and dashboards, or the underlying data as well), and a set of boolean permissions arranged in seven groups. The access type acts as a ceiling - enabling a permission that lies above the chosen access type is rejected with a specific error rather than being silently ignored.\n\nThese APIs define roles only. Attaching a role to a user or to a workspace is done through the user management and workspace sharing APIs. The custom roles feature must be enabled for the organization and included in its subscription plan, and none of these APIs is available through a Client Portal (White Label) custom domain."
    },
    {
      "name": "Workspace Users",
      "description": "APIs that manage the users and the administrators of a single Zoho Analytics workspace - controlling who has access to the workspace, the role they hold within it, and whether that access is currently active.\n\nThese APIs complement the org-level user management APIs. Org-level management controls who is a member of the organization at all, while workspace-level management controls which of those members can access a specific workspace and in what capacity.\n\nWhen the Account Admin of the organization is also a Client Portal Admin, the operations in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are listed and managed separately from the standard Zoho Analytics users."
    },
    {
      "name": "Workspace Groups",
      "description": "APIs that manage the groups of a Zoho Analytics workspace. A group is a named collection of users within a single workspace.\n\nGroups are the building block for bulk view-level access management. When a view is shared with a group, every current and future member of that group inherits that sharing - which makes group membership the way to batch-update the sharing permissions of several users at once. Adding a member grants them access to every view currently shared with the group, removing a member revokes that access unless they hold it through another path, and deleting a group revokes it for every member simultaneously.\n\nGroups are scoped to a single workspace, and their members must already be users of that workspace. When the Account Admin of the organization is also a Client Portal Admin, a group can be scoped to a specific portal domain using the `domainName` field at creation. That association is fixed for the life of the group, and the member management APIs resolve the domain context from the group rather than taking it as an attribute."
    }
  ],
  "paths": {
    "/restapi/v2/orgadmins": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Get Org Admins",
        "summary": "Get Org Admins",
        "description": "Returns the email addresses of the users who currently hold the Organization Admin role in the specified organization. This is a convenience endpoint that is equivalent to filtering the Get Users response for the Organization Admin role.",
        "operationId": "getOrgAdmins",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not the Account Admin of the organization.",
                "resolution": "This API is strictly restricted to the Account Admin. Organization Admins and other roles cannot call this endpoint."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.share.read."
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgAdminsResponse"
                },
                "examples": {
                  "singleOrgAdmin": {
                    "description": "Single admin",
                    "summary": "Organization with exactly one Organization Admin.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin@example.com"
                        ]
                      }
                    }
                  },
                  "multipleOrgAdmins": {
                    "description": "Multiple admins",
                    "summary": "Organization with several Organization Admins.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin1@example.com",
                          "orgadmin2@example.com",
                          "regional.admin@example.com"
                        ]
                      }
                    }
                  },
                  "noOrgAdmins": {
                    "description": "No admins",
                    "summary": "Organization where no Organization Admin has been assigned - all admin operations are handled by the Account Admin.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>Unlike the other organization user management APIs, which can be invoked by both the Account Admin and the Organization Admins, this API is restricted to the Account Admin of the organization. An Organization Admin invoking this API fails with error code <b>7301</b>.</li><li>When no Organization Admin has been assigned, the API returns HTTP 200 with an empty <b>orgAdmins</b> array.</li><li>The users listed here are the users whose role was set to <b>ORGADMIN</b> using the Add Users or Change User Role API.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Get Users",
        "summary": "Get Users",
        "description": "Returns the list of all the users who are members of the specified organization, along with their current status and org-level role.\n\nThe org-level role governs what the user can do across the entire organization. It is distinct from the workspace-level role, which governs what the user can do within a specific workspace and is managed using the workspace sharing APIs.",
        "operationId": "getUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.read."
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersResponse"
                },
                "examples": {
                  "mixedRoles": {
                    "description": "Mixed roles",
                    "summary": "Organization holding users across every org-level role, including a deactivated user.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "analyst@acme.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer1@acme.com",
                            "status": true,
                            "role": "Viewer"
                          },
                          {
                            "emailId": "inactive.user@acme.com",
                            "status": false,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "smallOrg": {
                    "description": "Small organization",
                    "summary": "Organization with only a few members and no Organization Admin assigned.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "owner@example.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "user1@example.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer@example.com",
                            "status": true,
                            "role": "Viewer"
                          }
                        ]
                      }
                    }
                  },
                  "clientPortalOrg": {
                    "description": "Client portal",
                    "summary": "Response returned when the Account Admin is also a Client Portal Admin - every user entry carries the portal domain it belongs to.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@example.com",
                            "status": true,
                            "role": "Account Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "standard.user@example.com",
                            "status": true,
                            "role": "User",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "portal.user1@client.com",
                            "status": true,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user2@client.com",
                            "status": true,
                            "role": "Viewer",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user3@partner.com",
                            "status": false,
                            "role": "User",
                            "domainName": "analytics.partnerportal.io"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>Both the Account Admin and the Organization Admins of the organization can invoke this API.</li><li>Deactivated users continue to be listed in the response with <b>status</b> set to <b>false</b>. They are not removed from the list.</li><li>A user who has been invited but has not yet accepted the invitation is not listed until they accept and join the organization.</li><li>The <b>domainName</b> field is returned for every user only when the Account Admin of the organization is also a Client Portal Admin. When the Account Admin is not a Client Portal Admin, only <b>emailId</b>, <b>status</b> and <b>role</b> are returned.</li><li>A user added through a client portal domain is scoped to that portal. Such users access Zoho Analytics only through the branded portal URL and do not appear as standard organization members.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Add Users",
        "summary": "Add Users",
        "description": "Adds one or more users to the specified organization. The invited users receive an email notification. Users who are new to Zoho are prompted to create a Zoho account before accepting the invitation.",
        "operationId": "addUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "defaultRoleInvite": {
                  "description": "Default role",
                  "summary": "Invites two users without specifying a role, so both join with the default USER role.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "alice@example.com",
                        "bob@example.com"
                      ]
                    }
                  }
                },
                "viewerInvite": {
                  "description": "Viewer role",
                  "summary": "Invites a user with read-only access to the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "viewer@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "orgAdminInvite": {
                  "description": "Org Admin",
                  "summary": "Invites a user as an Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "orgadmin@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "portalDomainInvite": {
                  "description": "Portal domain",
                  "summary": "Scopes the addition to a single client portal domain, so the users are added as portal users of that portal.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "client.user1@client.com",
                        "client.user2@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6004",
                "description": "Adding these users would exceed the organization's user seat limit under the current plan.",
                "resolution": "Upgrade the plan to accommodate more users, or remove unused user accounts before adding new ones."
              },
              {
                "name": "6026",
                "description": "The current plan does not support adding extra users (free plan restriction).",
                "resolution": "Upgrade to a paid plan to invite additional users."
              },
              {
                "name": "6071",
                "description": "One or more of the specified email addresses is already a member of this organization.",
                "resolution": "Remove the already-existing email addresses from the emailIds list and retry."
              },
              {
                "name": "6089",
                "description": "Attempted to assign the ORGADMIN role through a custom domain (domainName). The Organization Admin role cannot be assigned through a custom portal domain.",
                "resolution": "Omit domainName when assigning the ORGADMIN role, or use a different role for domain-based additions."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.create."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The request is applied as a single batch. If any email address in the list is already a member of the organization, the request fails with error code <b>6071</b> and none of the users are added.</li><li>When <b>role</b> is not provided, the invited users join with the <b>USER</b> role.</li><li>Organization Admins can assign only the <b>USER</b> and <b>VIEWER</b> roles. Only the Account Admin of the organization can assign the <b>ORGADMIN</b> role.</li><li>The <b>ORGADMIN</b> role cannot be assigned along with <b>domainName</b>. This combination always fails with error code <b>6089</b>, irrespective of the role of the calling user.</li><li>If the addition would exceed the user seat limit of the plan, the request fails with error code <b>6004</b> before any user is added. Free plans do not support additional users and fail with error code <b>6026</b>.</li><li>An invited user is not listed by the Get Users API until they accept the invitation and join the organization.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Remove Users",
        "summary": "Remove Users",
        "description": "Removes one or more users from the specified organization. The removed users immediately lose access to all the workspaces and views in the organization.",
        "operationId": "removeUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleUserRemoval": {
                  "description": "Single user",
                  "summary": "Removes one user from the standard organization context.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "exemployee@example.com"
                      ]
                    }
                  }
                },
                "bulkRemoval": {
                  "description": "Multiple users",
                  "summary": "Removes several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com",
                        "user3@example.com"
                      ]
                    }
                  }
                },
                "portalDomainRemoval": {
                  "description": "Portal domain",
                  "summary": "Scopes the removal to a single client portal, leaving users of the main organization and of other portals untouched.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "former.client@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.delete."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>This is a permanent operation. All the workspace-level share permissions of the removed users are revoked, and the users must be invited again using the Add Users API to regain access.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>Every email address in the list must already be a member of the organization. The request fails as a whole with error code <b>8114</b> on the first non-member email address, and no user is removed.</li><li>The Account Admin of the organization cannot be removed using this API. Transfer the ownership of the organization first if the Account Admin has to be removed.</li><li>The workspaces owned by a removed user are not deleted. The workspaces and their contents remain intact, though the ownership may have to be transferred separately.</li><li>Always specify <b>domainName</b> when removing portal-scoped users. Without it, the user is looked up in the standard organization context and the request fails with error code <b>8114</b> if the user exists only in the portal domain.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/active": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Activate Users",
        "summary": "Activate Users",
        "description": "Reactivates one or more previously deactivated users in the specified organization. Once activated, the users regain access to the organization and to all the workspaces that were shared with them earlier.",
        "operationId": "activateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ActivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleReactivation": {
                  "description": "Single user",
                  "summary": "Reactivates one previously deactivated user.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.employee@example.com"
                      ]
                    }
                  }
                },
                "bulkReactivation": {
                  "description": "Multiple users",
                  "summary": "Reactivates several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainReactivation": {
                  "description": "Portal domain",
                  "summary": "Reactivates a user within a specific client portal domain.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6004",
                "description": "Activating these users would exceed the organization's user seat limit.",
                "resolution": "Check the current user count using the Get Resource Details API. Upgrade the plan or remove unused users before reactivating."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The operation is idempotent. Activating an already-active user succeeds silently and raises no error.</li><li>Every email address in the list must already be a member of the organization, even if currently deactivated. Non-members cause the request to fail with error code <b>8114</b>.</li><li>A deactivated user continues to occupy a seat with respect to the plan limits. If the reactivation would exceed the user seat limit, the request fails with error code <b>6004</b>.</li><li>All the workspace shares of a deactivated user are preserved and are restored on reactivation.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/inactive": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Deactivate Users",
        "summary": "Deactivate Users",
        "description": "Deactivates one or more users in the specified organization. Deactivated users cannot log in or access any workspace in the organization. Their data and permissions are retained and can be restored by reactivating them, which makes this the recommended approach for a temporary suspension rather than a permanent removal.",
        "operationId": "deActivateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeactivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "temporarySuspension": {
                  "description": "Single user",
                  "summary": "Temporarily suspends the access of one user, for example while they are on extended leave.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "on.leave@example.com"
                      ]
                    }
                  }
                },
                "bulkDeactivation": {
                  "description": "Multiple users",
                  "summary": "Deactivates several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainDeactivation": {
                  "description": "Portal domain",
                  "summary": "Suspends a portal user while preserving their portal-specific shares and permissions.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "suspended.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The operation is idempotent. Deactivating an already-inactive user succeeds silently and raises no error.</li><li>Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code <b>8114</b>.</li><li>The Account Admin of the organization cannot be deactivated using this API.</li><li>All the workspace shares of the user are preserved while they are deactivated, though the user cannot access them. The shares are restored on reactivation.</li><li>Deactivation is reversible and preserves the user data, shares and role. Removal, performed using the Remove Users API, is permanent - the shares are revoked and the user has to be invited again.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/role": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Change User Role",
        "summary": "Change User Role",
        "description": "Changes the org-level role of one or more users in the specified organization. The role change takes effect immediately and the access permissions of the users across all the workspaces adjust to reflect the new role.",
        "operationId": "changeUserRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ChangeUserRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "promoteToOrgAdmin": {
                  "description": "Promote user",
                  "summary": "Promotes a standard user to Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "analyst@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "downgradeToViewer": {
                  "description": "Downgrade users",
                  "summary": "Downgrades several users to read-only Viewer access in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "resetToUser": {
                  "description": "Reset role",
                  "summary": "Resets an Organization Admin back to the standard USER role.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "formeradmin@example.com"
                      ],
                      "role": "USER"
                    }
                  }
                },
                "portalDomainRoleChange": {
                  "description": "Portal domain",
                  "summary": "Changes the role of a user within a specific client portal domain, leaving their role in the main organization unaffected.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "VIEWER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6089",
                "description": "Attempted to assign the ORGADMIN role through a custom domain (domainName).",
                "resolution": "Omit domainName when assigning the Organization Admin role."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request. The same role is applied to every user in the list.</li><li>Organization Admins can assign only the <b>USER</b> and <b>VIEWER</b> roles. Promoting a user to <b>ORGADMIN</b> can be done only by the Account Admin of the organization, and any other caller fails with error code <b>7301</b>.</li><li>The <b>ORGADMIN</b> role cannot be assigned along with <b>domainName</b>. This combination always fails with error code <b>6089</b>, irrespective of the role of the calling user.</li><li>Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code <b>8114</b>.</li><li>The operation is idempotent. Applying the role that a user already holds succeeds silently and raises no error.</li><li>The role of a deactivated user can be changed. The new role takes effect when the user is reactivated.</li><li>Demoting an Organization Admin removes their org-wide management capabilities immediately, but does not affect their workspace-level permissions.</li><li>Setting the <b>VIEWER</b> role for a user who owns workspaces makes them read-only at the org level, but does not transfer the workspaces they own. They may continue to hold Workspace Admin access on those workspaces.</li><li>A role change performed within a client portal domain is scoped to that portal. The role of the user in the main organization and in other portals is unaffected.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/orgs/roles": {
      "get": {
        "tags": [
          "Custom Roles"
        ],
        "x-zenesis-title": "Get Custom Roles",
        "summary": "Get Custom Roles",
        "description": "Returns every custom role defined in the organization identified by the ZANALYTICS-ORGID header, along with the complete permission definition of each role.\n\nThis is the only way to read a role definition back - there is no get-by-ID variant. The accessType and permissions returned for a role are in exactly the shape accepted by the Update Custom Role API, so a role can be read, edited and posted back without any transformation.",
        "operationId": "getCustomRoles",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "x-zenesis-statuscodes": [
              {
                "name": "6142",
                "description": "The subscription plan of the organization does not include custom roles.",
                "resolution": "Upgrade the plan to one that includes custom roles."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain.",
                "resolution": "Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization."
              },
              {
                "name": "7309",
                "description": "No authentication was supplied with the request.",
                "resolution": "Send the Authorization header carrying a valid OAuth token."
              },
              {
                "name": "8083",
                "description": "The ZANALYTICS-ORGID header is missing.",
                "resolution": "Add the ZANALYTICS-ORGID header to the request."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token, or the token does not carry the usermanagement scope.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.read."
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomRolesResponse"
                },
                "examples": {
                  "customRoles": {
                    "description": "Custom roles",
                    "summary": "Organization holding two custom roles at different access levels. Every permission group and every flag is present, including the ones set to false.",
                    "value": {
                      "status": "success",
                      "summary": "Get roles",
                      "data": {
                        "roles": [
                          {
                            "roleId": "35130000012041001",
                            "roleName": "Data Engineer",
                            "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                            "permissions": {
                              "createPermissions": {
                                "createTable": true,
                                "createQueryTable": true,
                                "createFolder": true,
                                "createFormula": true
                              },
                              "dataPermissions": {
                                "addRow": true,
                                "modifyRow": true,
                                "deleteRow": true,
                                "importAppend": true,
                                "importAddOrUpdate": true,
                                "importDeleteAllAdd": true,
                                "importDeleteUpdateAdd": true,
                                "dataArchives": true
                              },
                              "designPermissions": {
                                "designModify": true
                              },
                              "interactionPermissions": {
                                "read": true,
                                "insight": true,
                                "vud": true,
                                "drillDown": false,
                                "drillThrough": false,
                                "drillActions": false
                              },
                              "sharePermissions": {
                                "share": true,
                                "discussion": true,
                                "privateLinks": true,
                                "accessAdminPresets": true,
                                "createPreset": true
                              },
                              "publishPermissions": {
                                "export": true,
                                "manageEmailSchedules": true,
                                "allEmailSchedulesAccess": true,
                                "manageDataAlerts": true,
                                "allDataAlertsAccess": true,
                                "createSlideshow": true,
                                "publicViews": true
                              },
                              "datasourcePermissions": {
                                "viewDatasource": false,
                                "editDatasource": false,
                                "syncData": false,
                                "useDatasource": false,
                                "removeDatasource": false
                              }
                            }
                          },
                          {
                            "roleId": "35130000012042001",
                            "roleName": "Dashboard Viewer",
                            "accessType": "ALL_DASHBOARDS",
                            "permissions": {
                              "createPermissions": {
                                "createTable": false,
                                "createQueryTable": false,
                                "createFolder": true,
                                "createFormula": false
                              },
                              "dataPermissions": {
                                "addRow": false,
                                "modifyRow": false,
                                "deleteRow": false,
                                "importAppend": false,
                                "importAddOrUpdate": false,
                                "importDeleteAllAdd": false,
                                "importDeleteUpdateAdd": false,
                                "dataArchives": false
                              },
                              "designPermissions": {
                                "designModify": false
                              },
                              "interactionPermissions": {
                                "read": true,
                                "insight": true,
                                "vud": true,
                                "drillDown": true,
                                "drillThrough": true,
                                "drillActions": true
                              },
                              "sharePermissions": {
                                "share": true,
                                "discussion": true,
                                "privateLinks": true,
                                "accessAdminPresets": true,
                                "createPreset": true
                              },
                              "publishPermissions": {
                                "export": true,
                                "manageEmailSchedules": true,
                                "allEmailSchedulesAccess": true,
                                "manageDataAlerts": false,
                                "allDataAlertsAccess": false,
                                "createSlideshow": true,
                                "publicViews": true
                              },
                              "datasourcePermissions": {
                                "viewDatasource": false,
                                "editDatasource": false,
                                "syncData": false,
                                "useDatasource": false,
                                "removeDatasource": false
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  "noCustomRoles": {
                    "description": "No custom roles",
                    "summary": "Organization in which no custom role has been defined yet. An empty array is a success, not an error.",
                    "value": {
                      "status": "success",
                      "summary": "Get roles",
                      "data": {
                        "roles": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The calling user must be an Account Admin or Organization Admin of the organization. No other role qualifies - Workspace Admins, view owners, users holding a custom role and shared users all fail with error code <b>7301</b>.</li><li>The custom roles feature must be enabled for the organization, otherwise the API fails with error code <b>7301</b> even for an Account Admin. A subscription plan that does not include custom roles fails with error code <b>6142</b>.</li><li>This API is not available through a Client Portal (White Label) custom domain. Such requests are rejected with error code <b>7301</b> before any business logic runs.</li><li>There is no path parameter for the organization - the roles returned belong to the organization named in the <b>ZANALYTICS-ORGID</b> header.</li><li>This is the only API that reads a role definition. There is no get-by-ID variant, so filter the returned list client-side on <b>roleId</b> or <b>roleName</b>.</li><li>The response is always complete - all seven permission groups and every flag are returned, including the ones set to false. This differs from the request side of the Create and Update APIs, where an omitted flag is treated as false.</li><li>The <b>accessType</b> and <b>permissions</b> of a role are returned in exactly the shape accepted by the Update Custom Role API. Read the role here, change the flags needed and send the whole object back - this round-trip is the supported way to make a partial permission edit.</li><li>The <b>roleId</b> values returned here are required as the role-id path parameter of the Update Custom Role and Delete Custom Role APIs. They are returned as strings even though they are numeric.</li><li>The response reports role definitions only. It does not indicate which users hold a role.</li><li>The list is not paginated and its order is not guaranteed. Sort client-side if presentation order matters.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Roles"
        ],
        "x-zenesis-title": "Create Custom Role",
        "summary": "Create Custom Role",
        "description": "Creates one custom role in the organization identified by the ZANALYTICS-ORGID header, and returns its identifier.\n\nThe role name, the access type and the permissions are all mandatory. The permissions are validated as a whole against the access type and against the cross-group dependency rules before anything is stored, so a rejected request creates nothing and can be corrected and retried safely.",
        "operationId": "createCustomRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateCustomRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "dashboardOnlyRole": {
                  "description": "Dashboard only",
                  "summary": "Creates a role at the most restricted access level. No data, design or datasource permission may appear, and createFolder is the only creation flag available. export is enabled alongside manageEmailSchedules, as the dependency rule requires.",
                  "value": {
                    "CONFIG": {
                      "roleName": "Dashboard Viewer",
                      "accessType": "ALL_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "publicViews": true,
                          "createSlideshow": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "accessAdminPresets": true,
                          "createPreset": true,
                          "privateLinks": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                },
                "reportAnalystRole": {
                  "description": "Reports and dashboards",
                  "summary": "Creates a role that reaches reports as well as dashboards. Raising the access level unlocks manageDataAlerts, which ALL_DASHBOARDS would reject with error 7576.",
                  "value": {
                    "CONFIG": {
                      "roleName": "Report Analyst",
                      "accessType": "ALL_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "publicViews": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "accessAdminPresets": true,
                          "createPreset": true,
                          "privateLinks": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                },
                "fullAccessRole": {
                  "description": "Full access",
                  "summary": "Creates a role at the only level that allows dataPermissions, designPermissions, datasourcePermissions and the table creation flags. designModify pulls in both preset permissions, useDatasource pulls in createTable, and every other datasource flag pulls in viewDatasource.",
                  "value": {
                    "CONFIG": {
                      "roleName": "Data Engineer",
                      "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "createPermissions": {
                          "createTable": true,
                          "createQueryTable": true,
                          "createFolder": true,
                          "createFormula": true
                        },
                        "dataPermissions": {
                          "addRow": true,
                          "modifyRow": true,
                          "deleteRow": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true
                        },
                        "designPermissions": {
                          "designModify": true
                        },
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "privateLinks": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "publicViews": true
                        },
                        "datasourcePermissions": {
                          "viewDatasource": true,
                          "editDatasource": true,
                          "syncData": true,
                          "useDatasource": true,
                          "removeDatasource": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "x-zenesis-statuscodes": [
              {
                "name": "6142",
                "description": "The subscription plan of the organization does not include custom roles.",
                "resolution": "Upgrade the plan to one that includes custom roles."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain.",
                "resolution": "Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization."
              },
              {
                "name": "7309",
                "description": "No authentication was supplied with the request.",
                "resolution": "Send the Authorization header carrying a valid OAuth token."
              },
              {
                "name": "7553",
                "description": "A role with the given roleName already exists in the organization. The check covers built-in role names as well as other custom roles.",
                "resolution": "Choose a different name for the role."
              },
              {
                "name": "7554",
                "description": "The accessType value did not resolve to a known access level.",
                "resolution": "Send one of ALL_DASHBOARDS, ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS."
              },
              {
                "name": "7559",
                "description": "manageEmailSchedules is enabled but export is not.",
                "resolution": "Set publishPermissions.export to true, or disable manageEmailSchedules."
              },
              {
                "name": "7573",
                "description": "A dataPermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or set every dataPermissions flag to false."
              },
              {
                "name": "7574",
                "description": "designModify is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable designModify."
              },
              {
                "name": "7575",
                "description": "createTable, createQueryTable or createFormula is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable those flags. createFolder is allowed at every level."
              },
              {
                "name": "7576",
                "description": "manageDataAlerts is enabled while accessType is ALL_DASHBOARDS.",
                "resolution": "Use ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS, or disable manageDataAlerts."
              },
              {
                "name": "7577",
                "description": "dataArchives is enabled but not every other dataPermissions flag is enabled.",
                "resolution": "Enable every dataPermissions flag, or disable dataArchives."
              },
              {
                "name": "7578",
                "description": "designModify is enabled without both accessAdminPresets and createPreset.",
                "resolution": "Set sharePermissions.accessAdminPresets and sharePermissions.createPreset to true."
              },
              {
                "name": "7579",
                "description": "interactionPermissions.read is missing or false. Read permission must always be enabled.",
                "resolution": "Set interactionPermissions.read to true."
              },
              {
                "name": "7584",
                "description": "A datasourcePermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable the datasourcePermissions group."
              },
              {
                "name": "7585",
                "description": "useDatasource is enabled but createTable is not.",
                "resolution": "Set createPermissions.createTable to true."
              },
              {
                "name": "7586",
                "description": "editDatasource, syncData, useDatasource or removeDatasource is enabled without viewDatasource.",
                "resolution": "Set datasourcePermissions.viewDatasource to true."
              },
              {
                "name": "8078",
                "description": "A mandatory attribute was sent with an empty value. The error message names the attribute.",
                "resolution": "Provide a non-empty value for the attribute."
              },
              {
                "name": "8083",
                "description": "The ZANALYTICS-ORGID header is missing.",
                "resolution": "Add the ZANALYTICS-ORGID header to the request."
              },
              {
                "name": "8504",
                "description": "CONFIG was not sent, or a mandatory attribute is missing from it.",
                "resolution": "Send a CONFIG object containing every mandatory attribute."
              },
              {
                "name": "8507",
                "description": "roleName exceeds 30 characters, or the serialized permissions object exceeds its size limit.",
                "resolution": "Shorten the value."
              },
              {
                "name": "8509",
                "description": "roleName contains characters other than letters, digits, spaces, underscore and hyphen, or accessType is not one of the three allowed values.",
                "resolution": "Correct the value."
              },
              {
                "name": "8534",
                "description": "CONFIG is not valid JSON.",
                "resolution": "Fix the JSON and URL encode it correctly."
              },
              {
                "name": "8539",
                "description": "An attribute carries a value that is structurally valid but not accepted, such as an empty roleName.",
                "resolution": "Send a non-empty, valid value."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token, or the token does not carry the usermanagement scope.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.create."
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomRoleResponse"
                },
                "examples": {
                  "roleCreated": {
                    "description": "Role created",
                    "summary": "Returns the identifier of the newly created role. This is the only place the identifier is returned on creation.",
                    "value": {
                      "status": "success",
                      "summary": "Create role",
                      "data": {
                        "roleId": "35130000012043001"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The calling user must be an Account Admin or Organization Admin of the organization, custom roles must be enabled for the organization, and the request must not arrive through a Client Portal (White Label) custom domain. Any of these failing yields error code <b>7301</b>.</li><li><b>roleName</b>, <b>accessType</b> and <b>permissions</b> are all mandatory. Omitting any of them fails with error code <b>8504</b>; sending one with an empty value fails with error code <b>8539</b> or <b>8078</b>.</li><li><b>roleName</b> is limited to 1 to 30 characters made of letters, digits, spaces, underscore and hyphen, and must be unique across the organization - the uniqueness check covers built-in role names too. A longer name fails with error code <b>8507</b>, disallowed characters fail with <b>8509</b>, and a clash fails with <b>7553</b>.</li><li><b>accessType</b> is a ceiling. Every permission group is only available at or above a given level - see the CustomRolePermissions schema. Enabling a permission above the chosen level is an error (<b>7573</b>, <b>7574</b>, <b>7575</b>, <b>7576</b> or <b>7584</b> depending on the group), not a silent no-op.</li><li><b>interactionPermissions.read</b> must be explicitly true. It is not defaulted - a <b>permissions</b> object that omits <b>interactionPermissions</b> entirely, or sets <b>read</b> to false, fails with error code <b>7579</b> before any other rule is evaluated.</li><li>Every flag that is omitted from <b>permissions</b> is treated as false. A group that is left out is entirely disabled.</li><li>Four rules reach across permission groups: <b>designModify</b> requires both <b>accessAdminPresets</b> and <b>createPreset</b> (<b>7578</b>); <b>manageEmailSchedules</b> requires <b>export</b> (<b>7559</b>); <b>useDatasource</b> requires <b>createTable</b> (<b>7585</b>); and <b>editDatasource</b>, <b>syncData</b>, <b>useDatasource</b> and <b>removeDatasource</b> each require <b>viewDatasource</b> (<b>7586</b>). <b>dataArchives</b> additionally requires every other data permission to be enabled (<b>7577</b>).</li><li>All validation runs before anything is stored, and the rules fire in a fixed order, so a payload with several problems reports one error at a time. A rejected request creates no role and is safe to correct and retry.</li><li>This API is not an upsert. Re-creating an existing name fails with error code <b>7553</b> rather than returning or updating the existing role.</li><li>One role is created per call. There is no bulk-create variant.</li><li>Creating a role grants nothing by itself. Until the role is assigned to a user or a workspace through the user management and sharing APIs, it has no effect.</li><li>Only the new <b>roleId</b> is returned. Use the Get Custom Roles API to read the stored definition back.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/orgs/roles/{role-id}": {
      "put": {
        "tags": [
          "Custom Roles"
        ],
        "x-zenesis-title": "Update Custom Role",
        "summary": "Update Custom Role",
        "description": "Renames a custom role, replaces its access type and permissions, or does both in one call.\n\nThis is a replace, not a merge. Whenever permissions is supplied, the stored definition is discarded and rebuilt from the object sent - every flag left out becomes false. Read the current definition with the Get Custom Roles API, edit it, and send the whole object back. Sending roleName alone is the one edit that leaves the permission definition untouched.",
        "operationId": "updateCustomRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/role-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateCustomRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "renameOnly": {
                  "description": "Rename only",
                  "summary": "Renames the role. accessType and permissions are preserved untouched, so this is the one edit that needs no prior read.",
                  "value": {
                    "CONFIG": {
                      "roleName": "Report Analyst EMEA"
                    }
                  }
                },
                "replacePermissions": {
                  "description": "Replace permissions",
                  "summary": "Replaces the access level and the entire permission set after reading the current definition with the Get Custom Roles API. The role name is preserved. accessType is resent even though it is unchanged, because permissions cannot be sent on its own.",
                  "value": {
                    "CONFIG": {
                      "accessType": "ALL_DATA_REPORTS_AND_DASHBOARDS",
                      "permissions": {
                        "createPermissions": {
                          "createTable": true,
                          "createQueryTable": true,
                          "createFolder": true,
                          "createFormula": true
                        },
                        "dataPermissions": {
                          "addRow": true,
                          "modifyRow": true,
                          "deleteRow": true,
                          "importAppend": true,
                          "importAddOrUpdate": true,
                          "importDeleteAllAdd": true,
                          "importDeleteUpdateAdd": true
                        },
                        "designPermissions": {
                          "designModify": true
                        },
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true,
                          "drillThrough": true,
                          "drillActions": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true,
                          "privateLinks": true,
                          "accessAdminPresets": true,
                          "createPreset": true
                        },
                        "publishPermissions": {
                          "export": true,
                          "manageEmailSchedules": true,
                          "allEmailSchedulesAccess": true,
                          "manageDataAlerts": true,
                          "allDataAlertsAccess": true,
                          "createSlideshow": true,
                          "publicViews": true
                        }
                      }
                    }
                  }
                },
                "renameAndDowngrade": {
                  "description": "Rename and downgrade",
                  "summary": "Renames the role and lowers it to the dashboard-only level in one call. Every permission above the new ceiling has been removed from the payload - leaving a higher-level flag enabled would fail the request.",
                  "value": {
                    "CONFIG": {
                      "roleName": "Dashboard Only",
                      "accessType": "ALL_DASHBOARDS",
                      "permissions": {
                        "interactionPermissions": {
                          "read": true,
                          "vud": true,
                          "drillDown": true,
                          "insight": true
                        },
                        "sharePermissions": {
                          "share": true,
                          "discussion": true
                        },
                        "publishPermissions": {
                          "export": true
                        },
                        "createPermissions": {
                          "createFolder": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure.",
            "x-zenesis-statuscodes": [
              {
                "name": "6142",
                "description": "The subscription plan of the organization does not include custom roles.",
                "resolution": "Upgrade the plan to one that includes custom roles."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization, custom roles are not enabled for the organization, or the request was made through a Client Portal (White Label) custom domain.",
                "resolution": "Call the API as an Account Admin or Organization Admin from the standard API host, with the custom roles feature enabled for the organization."
              },
              {
                "name": "7309",
                "description": "No authentication was supplied with the request.",
                "resolution": "Send the Authorization header carrying a valid OAuth token."
              },
              {
                "name": "7548",
                "description": "No custom role exists for the given role-id in this organization.",
                "resolution": "Verify the role identifier using the Get Custom Roles API."
              },
              {
                "name": "7553",
                "description": "A role with the given roleName already exists in the organization. The check covers built-in role names as well as other custom roles.",
                "resolution": "Choose a different name for the role."
              },
              {
                "name": "7554",
                "description": "The accessType value did not resolve to a known access level.",
                "resolution": "Send one of ALL_DASHBOARDS, ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS."
              },
              {
                "name": "7559",
                "description": "manageEmailSchedules is enabled but export is not.",
                "resolution": "Set publishPermissions.export to true, or disable manageEmailSchedules."
              },
              {
                "name": "7573",
                "description": "A dataPermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or set every dataPermissions flag to false."
              },
              {
                "name": "7574",
                "description": "designModify is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable designModify."
              },
              {
                "name": "7575",
                "description": "createTable, createQueryTable or createFormula is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable those flags. createFolder is allowed at every level."
              },
              {
                "name": "7576",
                "description": "manageDataAlerts is enabled while accessType is ALL_DASHBOARDS.",
                "resolution": "Use ALL_REPORTS_AND_DASHBOARDS or ALL_DATA_REPORTS_AND_DASHBOARDS, or disable manageDataAlerts."
              },
              {
                "name": "7577",
                "description": "dataArchives is enabled but not every other dataPermissions flag is enabled.",
                "resolution": "Enable every dataPermissions flag, or disable dataArchives."
              },
              {
                "name": "7578",
                "description": "designModify is enabled without both accessAdminPresets and createPreset.",
                "resolution": "Set sharePermissions.accessAdminPresets and sharePermissions.createPreset to true."
              },
              {
                "name": "7579",
                "description": "interactionPermissions.read is missing or false. Read permission must always be enabled.",
                "resolution": "Set interactionPermissions.read to true."
              },
              {
                "name": "7580",
                "description": "One of accessType and permissions was sent without the other.",
                "resolution": "Send accessType and permissions together, or send neither."
              },
              {
                "name": "7581",
                "description": "The CONFIG contained neither roleName nor accessType, so there is nothing to update.",
                "resolution": "Send roleName, or accessType together with permissions."
              },
              {
                "name": "7584",
                "description": "A datasourcePermissions flag is enabled while accessType is below ALL_DATA_REPORTS_AND_DASHBOARDS.",
                "resolution": "Raise accessType to ALL_DATA_REPORTS_AND_DASHBOARDS, or disable the datasourcePermissions group."
              },
              {
                "name": "7585",
                "description": "useDatasource is enabled but createTable is not.",
                "resolution": "Set createPermissions.createTable to true."
              },
              {
                "name": "7586",
                "description": "editDatasource, syncData, useDatasource or removeDatasource is enabled without viewDatasource.",
                "resolution": "Set datasourcePermissions.viewDatasource to true."
              },
              {
                "name": "8083",
                "description": "The ZANALYTICS-ORGID header is missing.",
                "resolution": "Add the ZANALYTICS-ORGID header to the request."
              },
              {
                "name": "8504",
                "description": "CONFIG was not sent, or a mandatory attribute is missing from it.",
                "resolution": "Send a CONFIG object containing every mandatory attribute."
              },
              {
                "name": "8507",
                "description": "roleName exceeds 30 characters, or the serialized permissions object exceeds its size limit.",
                "resolution": "Shorten the value."
              },
              {
                "name": "8509",
                "description": "roleName contains characters other than letters, digits, spaces, underscore and hyphen, or accessType is not one of the three allowed values.",
                "resolution": "Correct the value."
              },
              {
                "name": "8525",
                "description": "The role-id in the request URI is not numeric, so the request matched no route.",
                "resolution": "Send a numeric role identifier."
              },
              {
                "name": "8534",
                "description": "CONFIG is not valid JSON.",
                "resolution": "Fix the JSON and URL encode it correctly."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token, or the token does not carry the usermanagement scope.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/sathish-dev-git/Temp/refs/heads/master/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
[...]
